@font-face {
    font-family: 'The-Sans-reg';
    src: url(../font/The-Sans-Plain.otf);
}

@font-face {
    font-family: 'The-Sans-bold';
    src: url(../font/TheSans-Bold.otf);
}

:root {
    --background: #F0F0F0;
    --primary-blue: #2B294E;
}

/*--------Home-page--------*/
body {
    font-family: 'The-Sans-reg';
    background-color: var(--background);
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: var(--background);
}

::-webkit-scrollbar-thumb {
    background-color: #707070;
    width: 7px;
    height: 7px;
    border-radius: 10px;
}



input,
a,
button,
select,
.form-control:focus {
    outline: none !important;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: unset;
}

section {
    overflow: hidden;
    padding: 4rem 0;
}

main section:first-of-type {
    padding: 2rem 0;
}

.title {
    color: #2B294E;
    width: fit-content;
    margin-bottom: 2rem;
    font-size: 50px;
}

.title.white {
    color: white;
    margin-bottom: 1rem;
}

#shadow-host-companion {
    padding: 0;
}

.page {
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    overflow: hidden;
}


/* Navigation Menu */
/* Desktop Navigation */
header {
    background-color: white;
    height: 100px;
    padding: 10px 0;
    z-index: 99;
}

.sticky-navbar {
    position: fixed !important;
    top: -8px !important;
    transform: translateY(8px);
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    -ms-transform: translateY(8px);
    -o-transform: translateY(8px);
    transition: transform 1s;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s;
    width: 100% !important;
    margin-top: 0;
    z-index: 99;
    box-shadow: 0 1px 19px #cececf54;
}

.logo {
    width: 130px;
    margin-left: 2rem;
}

.logo a {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.logo a img:first-of-type {
    width: 54px;
}

.logo a img:last-of-type {
    width: 130px;
}

.nav-menu {
    margin: 0;
    padding: 0;
}

.nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.nav-menu a {
    display: flex;
    position: relative;
    color: #2B294E;
    transition: 0.3s;
    font-size: 18px;
    padding: 6px 10px;
    font-family: 'The-Sans-bold';
    cursor: pointer;
}

.nav-menu a:hover,
.nav-menu a.active,
.nav-menu li:hover>a {
    color: #2B294E;
    text-decoration: none;
    background-color: #e5e4f3;
    border-radius: 6px;
}

.gap-10 {
    gap: 10px;
}


/* Mobile Navigation */
.mobile-nav-toggle {
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
}

.mobile-nav-toggle i {
    color: var(--primary-blue);
}

.mobile-nav {
    padding: 100px 10px;
    position: fixed;
    height: 100%;
    width: 35%;
    /* right: 15px; */
    bottom: 0px;
    left: 0px;
    z-index: 999;
    overflow-y: auto;
    background: #ddd;
    transition: ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
    border-radius: 0 10px 10px 0;
}

.mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mobile-nav a {
    font-size: 20px;
    display: block;
    position: relative;
    color: var(--primary-blue);
    padding: 10px 20px;
    font-weight: 500;
    outline: none;
}

.mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
    padding: 6px 0;
    box-shadow: 0px 0px 22px rgb(127 137 161 / 20%);
    transition: ease all 0.3s;
    border-radius: 19px;
    width: 90%;
    background: white;
}

.mobile-nav-overly {
    position: fixed;
    overflow: hidden;
    display: none;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active .mobile-nav {
    opacity: 1;
    visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
    color: black;
}




/******** intro *******/
.intro {
    min-height: calc(100vh - 100px);
    height: fit-content;
    background-color: #2B294E;
    display: flex;
    align-items: center;
    position: relative;
    overflow: initial;
}

.intro .title.white {
    font-size: 64px;
}

.intro p {
    font-size: 20px;
    color: white;
}

.btn {
    padding: 5px 20px;
    color: white;
    border-radius: 0;
}

.btn.primary-maron {
    margin-top: 60px;
    background-color: #C22026;
    font-size: 20px;
    letter-spacing: 1.1px;
}

.intro-img {
    display: flex;
    /*  position: relative; */
}

.intro-img img.main-img {
    position: absolute;
    /*   height: 100vh;  */
    left: 0;
    top: 0px;
}

.rocket {
    position: absolute;
    bottom: 54%;
    left: 39.5%;
    animation: fly 3s .3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

@keyframes fly {
    0% {
        bottom: 47%;
    }

    100% {
        bottom: 112%;
    }
}

img.floated {
    position: absolute;
    bottom: -65px;
    right: 0;
    width: 260px;
}

.intro-img img.floated {
    left: 0;
    top: -27px;
    bottom: unset;
    position: absolute;
    right: unset;
    width: 134px;
}

/********* about **********/
.about {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.line {
    color: #C22026;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'The-Sans-Bold';
}

.half.line hr {
    height: 5px;
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: 1;
    width: 45px;
}

.about .side.line {
    color: #C22026;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-bottom: 2rem;
}

.about .side.line h2 {
    font-size: 50px;
}

.about .side hr {
    height: 5px;
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: 1;
    width: 40%;
}

.about .title {
    font-family: 'The-Sans-Bold';
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: auto;
    font-size: 58px;
}

.about .row {
    align-items: center;
}

.about p {
    font-size: 24px;
    margin-top: 10px;
    color: #2B294E;
    width: 63%;
    margin: auto;
    text-align: center;
    line-height: 45px;
}

.about ul {
    color: #C22026;
    font-size: 24px;
    display: flex;
    justify-content: center;
}

.about ul li {
    border-right: 7px solid #2B294E;
    padding-right: 12px;
    margin: 20px;
    font-family: 'The-Sans-bold';
}


/******* features ********/
.features {
    background-color: white;
}

.feature-card {
    background-color: white;
    border-top: 14px solid #F28765;
    border-left: 14px solid #F28765;
    padding: 22px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 29px 11px #00000026;
    width: 86%;
    gap: 10px;
}

.feature-card img {
    height: 126px;
}

.feature-card p {
    font-size: 20px;
    color: #2B294E;
    text-align: center;
    margin: auto;
    height: 150px;
}




/******* counts *****/
.counts {
    background-color: #F28765;
}

.count-card {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

}

.count-card img {
    width: 50px;
    border-bottom: 3px solid white;
    padding-bottom: 10px;
    max-height: 45px;
    object-fit: contain;
}




/********** feedbacks **********/
.feedbacks {
    background-color: white;
}

.feedbacks .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback {
    margin-top: 2rem;
    width: 410px;
    max-height: 410px;
    box-shadow: 0px 5px 19px #71717129;
}

.owl-carousel.feedback-carousel img {}

/********* vision **********/
.white-bg {
    background-color: white;
    padding: 24px 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3rem;
    box-shadow: 0 8px 9px #0000001a;
}

.white-bg p {
    font-size: 18px;
    color: #2B294E;
    font-family: 'The-Sans-bold';
    WIDTH: 72%;
    line-height: 39px;
    min-height: 160px;
    display: flex;
    align-items: center;
}

.vision img.label-img {
    margin-bottom: -17px;
    margin-right: 30px;
    width: 187px;
}

.vision .row.flex-row-reverse img.label-img {
    margin-left: 30px;
    z-index: 9;
    width: 187px;
}

.vision .row.flex-row-reverse .col-lg-7 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


/******** partners *********/
.partners {
    background-color: white;
}

.partners::before {
    background-image: url('../img/partners.png');
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    content: '';
    position: absolute;
    width: 100%;
    -webkit-width: 100%;
    width: -webkit-width 100%;
    height: 10rem;
    -webkit-height: 10rem;
    height: -webkit-height 100%;
    margin-top: -9rem;
}

.partners-warpper {
    border-top: 10px solid #F28765;
    margin-top: 30px;
    border-bottom: 10px solid #F28765;
    padding: 10px;
    cursor: pointer;
}

.owl-carousel.partners-carousel .owl-item img {
    display: block;
    max-width: 200px;
    width: fit-content;
    height: 70px;
    object-fit: contain;
    filter: grayscale(1);
    transition: 0.5s all;
}

.owl-carousel.partners-carousel .owl-item img:hover {
    filter: grayscale(0);
    transition: 0.5s all;
}


/********* Contact Us **********/
.contact {
    background-color: white;
    padding: 4rem 21%;
}

.salmon {
    background-color: #F28765;
    text-align: center;
    font-family: 'The-Sans-Bold';
    color: white;
    width: 100%;
    padding: 24px 34px;
}

.salmon h2 {
    width: 100%;
    text-align: center;
}

.contact-form {
    margin: 3rem auto 0;
}

.contact-form label {
    margin-bottom: 6px;
}

.contact-form label span {
    color: #D70505;
}

.contact-form .btn.primary-maron {
    margin-top: 0;
}

.form-control,
.form-select {
    text-align: right;
    padding: 10px;
    border-radius: 0;
    font-size: 20px;
    border: none;
    background-color: #F0F0F0;
    margin-bottom: 12px;
    border: 1px solid #2B294E;
    color: #2B294E;
}

.form-select {
    color: #D30000;
}

input.form-control,
select.form-select {
    height: 60px;
}

.contact h3 {
    color: #2B294E;
    font-family: 'The-Sans-Bold';
    margin-bottom: 20px;
}

input[type="file"] {
    background-color: white;
    border: none;
}




/******** Join us **********/
.join {
    max-height: calc(100vh - 100px);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact p {
    color: #C22026;
    text-align: center;
    width: 90%;
    margin: 20px auto 0;
}



/******** projects *********/
.projects {
    background-color: white;
}

.projects .row {
    margin-top: 5rem;
}

.projects .row:nth-child(2) .cat-img img {
    border-top: 20px solid #F28765;
    border-left: 20px solid #F28765;
    height: 84vh;
}

.projects .row:nth-child(3) .cat-img img {
    border-top: 20px solid #F28765;
    border-right: 20px solid #F28765;
    height: 76vh;
}

.projects .row:nth-child(3) .cat-data .btn.primary-maron {
    margin-right: auto;
}

.cat-img img {
    width: 100%;
    padding: 20px;
    object-fit: cover;
}

.cat-data {
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.projects h4 {
    color: #C22026;
    font-family: 'The-Sans-Bold';
    font-size: 20px;
}

.projects hr {
    color: #F28765;
    opacity: 1;
    height: 3px;
    margin-bottom: 2rem;
}

.projects p {
    color: black;
    font-size: 18px;
    width: 90%;
    line-height: 36px;
    margin-bottom: 2rem;
}

.projects .btn.primary-maron {
    padding: 5px 55px;
    width: fit-content;
}




/******** Branding **********/
.branding {
    background-color: white;
    padding: 4rem 18% !important;
}

.branding .row {
    margin-bottom: 4rem;
}

.owl-carousel.branding-carousel img {
    width: 100%;
    height: auto;
    max-height: 440px;
}

.brand-data h4 {
    color: #2B294E;
    font-family: 'The-Sans-Bold';
    font-size: 22px;
}

.brand-data h4 hr {
    height: 3px;
    color: #C22026;
    opacity: 1;
}

.brand-data p {
    color: black;
    font-size: 20px;
    width: 90%;
    margin: 3rem 1rem;
}

.owl-carousel.branding-carousel .owl-nav {
    position: absolute;
    top: calc(50% - 20px);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.owl-carousel.branding-carousel .owl-nav button.owl-prev,
.owl-carousel.branding-carousel .owl-nav button.owl-next {
    font-size: 40px;
    color: #C22026;
}

.fa,
.fas {
    font-family: "Font Awesome 5 Pro";
    font-weight: 100 !important;
}

.owl-carousel.branding-carousel .owl-dots {
    position: absolute;
    top: 95%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.owl-carousel.branding-carousel button.owl-dot {
    width: 10px;
    height: 10px;
    border: 1px solid #C22026;
    border-radius: 50%;
    margin-right: 6px;
}

.branding .row:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
}



/******* social ********/
.social {
    background-color: white;
}

.social .container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.social-post {
    width: 44vw;
    height: 78vh;
    margin-bottom: 9vh;
}

.social-post img {
    height: 58vh;
    width: 100%;
    object-fit: cover;
}

.post-data {
    display: flex;
    border: 2px solid #575252;
    align-items: center;
    height: 130px;
}

.pos-log {
    width: 36%;
}

.pos-ti {
    width: 64%;
    border-right: 2px solid #575252;
}

.post-data>div {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.pos-log img {
    width: 100%;
    max-height: 100%;
    height: auto;
}



/********** cover *****/
.cover {
    padding-top: 0;
    position: relative;
    overflow: initial;
}


.cover .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.simon {
    background-color: #F28765;
    color: #F0F0F0;
    width: 80%;
    padding: 30px 20% 30px 30px;
    font-family: 'The-Sans-Bold';
    z-index: 9;
    position: absolute;
    margin-top: -2rem;
}

.simon h2 {
    font-size: 40px;
    line-height: 55px;
}

.simon h2 img {
    width: 42%;
}



/******** Services ********/
.services {
    background-color: white;
    padding-top: 10rem;
}

.services h4 {
    color: #2B294E;
    text-align: center;
    margin: 20px 0 3rem;
}

.services .col-lg-3.col-md-4.col-sm-5 {
    padding: 0;
}

.services .col-lg-3.col-md-4.col-sm-5:nth-child(1) .service-card {
    border-right: 3px #C22026 solid;
    border-bottom: 3px #C22026 solid;
}

.services .col-lg-3.col-md-4.col-sm-5:nth-child(2) .service-card {
    border-right: 3px #C22026 solid;
    border-top: 3px #C22026 solid;
    border-left: 3px #C22026 solid;
}

.services .col-lg-3.col-md-4.col-sm-5:nth-child(3) .service-card {
    border-bottom: 3px #C22026 solid;
    border-left: 3px #C22026 solid;
}

.service-card img {
    width: 155px;
    height: 120px;
    object-fit: contain;
}

.service-RL {
    background-color: #F0F0F0;
    margin: 0 10px 10px 10px;
    padding: 30px 11px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    min-height: 540px;
}

.service-CN {
    background-color: white;
    margin: 0;
    padding: 30px 11px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    min-height: 550px;
}

.service-card h3 {
    color: #2B294E;
    text-align: center;
    font-family: 'The-Sans-Bold';
}

.service-card p {
    font-size: 20px;
    text-align: center;
    line-height: 39px;
    color: #2B294E;
}



/******** footer *********/
.footer-block {
    height: 100%;
}

.footer-block img {
    width: 220px;
    margin: 0px 0 7px;
}

.mb-20 {
    margin-bottom: 26px;
}

.footer-block p {
    font-size: 15px;
    line-height: 26px;
    width: 90%;
    margin-bottom: 14px;
    max-width: 320px;
}

.footer-block h4 {
    width: fit-content;
}

.footer-block h4 span {
    font-size: 14px;
}

.footer-block .list-unstyled {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.footer-block .list-unstyled li {
    margin: 0.6rem 0;
    width: 178px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    text-overflow: clip;
    word-break: break-all;
    max-height: 30px;
    overflow-y: hidden;
}

.footer-block .social-links .list-unstyled li {
    width: fit-content;
    text-overflow: unset;
    word-break: unset;
    display: block;
    max-height: fit-content;
    overflow-y: unset;
}

.footer-block .list-unstyled a {
    font-size: 15px;
    max-width: 134px;
    word-break: initial;
    overflow: hidden;
}

.social-links .list-unstyled {
    flex-direction: row;
    display: flex;
}

.social-links .list-unstyled a i {
    color: white;
}

.lower-footer {
    padding: 6px 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;

}

.lower-footer p {
    margin-bottom: 0;
    font-size: 12px;
}

footer {
    background-image: url('../img/footer-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
    padding-top: 1rem;
}

img.icon {
    width: 22px;
    margin: 0px auto 0 0;
}

.footer-block .list-unstyled a.f-20 {
    font-size: 20px;
}

.copyright {
    display: flex;
    gap: 7px;
    font-size: 19px;
    height: fit-content;
}

.social-links .list-unstyled li {
    margin: 4px;
}

.social-links .list-unstyled a i {
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    padding: 6px;
}





/* media-style */
@media screen and (min-width:1441px) {
    .form-control {
        font-size: 28px;
    }

    label {
        font-size: 28px;
    }

    .owl-carousel.partners-carousel .owl-item img {
        max-width: 300px;
        height: 90px;
    }

    .rocket {
        left: 43.5%;
    }

}

@media screen and (max-width:1440px) {
    .simon h2 img {
        width: 36%;
    }
}



@media screen and (min-width:1200px) {
    .intro-img img.main-img {
        width: 150%;
        -webkit-width: 150%;
        width: -webkit-width 100%;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        left: 24%;
        object-position: top;
        object-fit: cover;
        max-height: 700px;
        -webkit-max-height: 700px;
        max-height: -webkit-max-height 100%;
    }

    .projects .row:nth-child(2) .cat-img img,
    .projects .row:nth-child(3) .cat-img img {
        height: fit-content;
    }

    .cat-data {
        justify-content: center;
    }
}

@media screen and (max-width:1200px) {
    .simon {
        width: 90%;
        padding: 30px 5% 30px 30px;
    }

    .intro-img img.main-img {
        width: 58%;
        -webkit-width: 58%;
        width: -webkit-width 58%;
        position: absolute;
        left: 0;
        top: 18%;
    }

    .rocket {
        bottom: 45%;

    }

    .about .title {
        font-size: 40px;
    }

    .about .side.line h2 {
        font-size: 40px;
    }

    .about p {
        width: 86%;
    }

    .feature-card {
        width: 100%;
        margin-bottom: 2rem;
    }

    .feature-card p {
        font-size: 17px;
        max-height: 125px;
        height: fit-content;
    }

    .feature-card img {
        height: 115px;
    }
}

@media screen and (max-width: 1025px) {
    .post-data {
        height: 104px;
    }

    .social-post {
        height: 65vh;
    }

    .social-post img {
        height: calc(100% - 94px);
    }

    .pos-log img {
        max-height: 100%;
        height: auto;
    }

    .rocket {
        bottom: 49%;
        left: 39%;
        width: 74px;
    }
}

@media screen and (max-width: 993px) {
    .intro-img img.main-img {
        width: 51%;
        -webkit-width: 51%;
        width: -webkit-width 51%;
    }

    .rocket {
        bottom: 54%;
        left: 35%;
        width: 60px;
    }

    .service-card p {
        font-size: 16px;
        line-height: 33px;
    }

    .contact {
        padding: 4rem 10%;
    }

    .branding {
        padding: 4rem 8% !important;
    }

    .projects p {
        width: 100%;
        margin-bottom: 0rem;
        font-size: 16px;
        line-height: 28px;
    }

    .cat-data {
        padding: 20px 24px;
    }

    .projects .row:nth-child(2) .cat-img img,
    .projects .row:nth-child(3) .cat-img img {
        height: fit-content;
        -webkit-height: fit-content;
        height: -webkit-height fit-content;
    }

    .projects .btn.primary-maron {
        padding: 4px 49px;
        width: fit-content;
        font-size: 16px;
        margin-top: 40px;
    }

    .social-post {
        height: 57vh;
    }

    .post-data {
        height: 92px;
    }

    .h5,
    h5 {
        font-size: 1rem;
    }

}

@media screen and (max-width: 768px) {
    .intro {
        padding: 4rem 0;
    }

    .intro-img {
        display: flex;
        justify-content: flex-end;
    }

    .rocket {
        bottom: 38%;
        left: unset;
        width: 14%;
        right: 24%;
    }

    main section:first-of-type {
        padding: 4rem 0 2rem;
    }

    .intro .title.white {
        font-size: 50px;
    }

    .intro .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .intro-img img.main-img {
        width: 100%;
        position: relative;
        -webkit-width: 100%;
        width: -webkit-width 100%;
        -webkit-margin-end: -2rem;
        margin-left: -2rem;
    }

    img.floated {
        width: 270px;
    }

    .h3,
    h3 {
        font-size: calc(1rem + .6vw);
    }

    section {
        padding: 2rem 0;
    }

    .about p {
        font-size: 18px;
    }

    .partners {
        margin-top: 5rem;
    }

    .partners::before {
        background-size: 163%;
    }

    .salmon h2 {
        font-size: 22px;
    }

    .salmon {
        padding: 20px 16px;
    }

    .partners::before {
        margin-top: -7rem;
    }

    .white-bg p {
        font-size: 18px;
        WIDTH: 69%;
        line-height: 34px;
    }

    .vision img.label-img {
        margin-bottom: -14px;
        margin-right: 37px;
        width: 160px;
    }

    .vision .row.flex-row-reverse img.label-img {
        margin-left: 36px;
    }

    .white-bg {
        padding: 30px 20px;
        margin-bottom: 2rem;
    }

    .simon h2 {
        font-size: 35px;
        line-height: 50px;
    }

    .owl-carousel.partners-carousel .owl-item img {
        max-width: 188px;
        height: 38px;
    }

    .contact {
        padding: 2rem 3%;
    }

    input.form-control,
    select.form-select {
        height: 50px;
        font-size: 18px;
    }

    .branding {
        padding: 2rem 0 !important;
    }

    .brand-data {
        padding-top: 10px;
    }

    .brand-data p {
        font-size: 20px;
        width: 100%;
        margin: 1rem 1rem;
    }

    .cat-img {
        display: flex;
        justify-content: center;
    }

    .cat-img img {
        width: 380px;
    }

    .projects h4 {
        font-size: 20px;
        text-align: center;
    }

    .cat-data {
        padding: 12px 16px;
    }

    .projects hr {
        margin-bottom: 1rem;
    }

    .projects p {
        font-size: 16px;
        line-height: 30px;
        text-align: center;
    }

    .projects .btn.primary-maron {
        padding: 5px 46px;
        font-size: 14px;
        margin: auto;
        margin-top: 25px;
    }

    .projects .row {
        margin-top: 2rem;
    }

    .social-post {
        height: 51vh;
        width: 51vw;
    }

    .projects .row:nth-child(2) .cat-img img,
    .projects .row:nth-child(3) .cat-img img {
        width: 353px;
        width: -webkit-width 353px;
        height: 300px;
        height: -webkit-height 300px;
    }
}

@media screen and (max-width: 576px) {
    main section.intro:first-of-type {
        padding: 6rem 0 2rem;
    }

    .intro-img img.floated {
        display: none;
    }
    .rocket {
        bottom: 36%;
        width: 12%;
        right: 26%;
    }

    .intro p {
        font-size: 18px;
    }

    .about .title {
        font-size: 30px;
    }

    .about .side.line h2 {
        font-size: 35px;
    }

    .feature-card {
        width: 90%;
        margin: auto;
        margin-bottom: 2rem;
    }

    .counts {
        padding: 3rem 0;
    }

    .feedback {
        margin-top: 1rem;
        width: 300px;
        max-height: 300px;
    }

    .logo {
        width: fit-content;
    }

    .logo a {
        flex-direction: row;
        gap: 10px;
    }

    header {
        height: 90px;
    }

    .mobile-nav {
        width: 45%;
    }

    .navbar-toggler {
        bottom: unset;
        left: 8%;
    }

    footer {
        padding: 0rem 1rem 0;
    }

    .about ul {
        color: #C22026;
        font-size: 24px;
    }

    .about ul li {
        border-right: 5px solid #2B294E;
        padding-right: 7px;
        margin: 17px;
    }

    .intro-img img.main-img {
        height: fit-content;
        margin-left: -2rem;
        -webkit-height: fit-content;
        height: -webkit-height fit-content;
        -webkit-margin-end: -2rem;
    }

    .intro {
        padding: 4rem 11px 2rem;
    }
    .intro .row{
        gap: 10px;
    }
    img.floated {
        width: 230px;
        bottom: -57px;
    }

    .partners {
        margin-top: 2rem;
    }

    .partners::before {
        background-size: 184%;
    }

    .white-bg p {
        font-size: 16px;
        WIDTH: 67%;
        line-height: 31px;
    }

    .simon h2 {
        font-size: 25px;
        line-height: 40px;
    }

    .service-RL,
    .service-CN {
        min-height: fit-content;
        padding: 40px 10px;
    }

    .services .col-lg-3.col-md-4.col-sm-5:nth-child(2) .service-card {
        border-right: none;
        border-top: none;
        border-bottom: 3px #C22026 solid;
        border-left: 3px #C22026 solid;
    }

    .services .col-lg-3.col-md-4.col-sm-5:nth-child(3) .service-card {
        border-right: 3px #C22026 solid;
        border-left: none;
    }

    .owl-carousel.partners-carousel .owl-item img {
        max-width: 168px;
        height: 37px;
    }

    .owl-carousel.branding-carousel img {
        height: 375px;
    }

    .projects .row:nth-child(2) .cat-img img {
        border-top: 14px solid #F28765;
        border-left: 14px solid #F28765;
    }

    .projects .row:nth-child(3) .cat-img img {
        border-top: 14px solid #F28765;
        border-right: 14px solid #F28765;
    }

    .projects p {
        line-height: 29px;
        letter-spacing: -0.5px;
    }

    .cat-img img {
        width: 310px;
        -webkit-width: 310px;
        width: -webkit-width 310px;
        padding: 0;
        -webkit-padding: 0;
    }

    .social-post {
        height: 62vh;
        width: 64vw;
    }

    .salmon h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 480px) {
    .mb-20 {
        margin-bottom: 8px;
    }

    .mobile-nav {
        width: 74%;
    }

    .intro .title.white {
        font-size: 46px;
    }
    .rocket {
        bottom: 33%;
        right: 27%;
    }
    .intro-img img.main-img {
        height: fit-content;
        -webkit-height: fit-content;
        height: -webkit-height fit-content;
        width: 350px;
        width: -webkit-width 350px;
        -webkit-width : 350px;
        width: -webkit-fill-available;
    }
    .about .title {
        font-size: 28px;
    }

    .about .side.line h2 {
        font-size: 30px;
    }

    .about .side hr {
        width: 47%;
    }

    .about p {
        width: 96%;
    }

    .footer-block p {
        width: 98%;
    }

    .vision img.label-img {
        margin-right: 27px;
    }

    .intro p {
        font-size: 16px;
    }

    .vision .row.flex-row-reverse img.label-img {
        margin-left: 27px;
    }

    .simon {
        padding: 18px 7% 18px 12px
    }

    .simon h2 {
        font-size: 15px;
        line-height: 33px;
    }

    .services {
        padding-top: 6rem;
    }

    .service-card img {
        width: 140px;
        height: 110px;
    }

    .services h4 {
        margin: 20px 8px;
        font-size: 18px;
        line-height: 31px;
    }

    .cover img.img-fluid {
        height: 70vh;
        object-fit: cover;
        object-position: left;
    }

    .social-post {
        height: 56vh;
        width: 71vw;
    }


    img.floated {
        width: 204px;
        bottom: -51px;
    }

    .white-bg {
        padding: 20px 16px;
        justify-content: space-between;
    }

    .white-bg img {
        width: 72px;
    }

    .white-bg p {
        font-size: 15px;
        WIDTH: 79%;
        line-height: 30px;
        min-height: 170px;
    }

    .vision img.label-img,
    .vision .row.flex-row-reverse img.label-img {
        width: 140px;
    }

    .salmon h2 {
        font-size: 16px;
    }

    .contact-form {
        margin: 2rem auto 0;
    }

    input.form-control,
    select.form-select {
        height: 40px;
        font-size: 16px;
    }

    .owl-carousel.branding-carousel img {
        height: 275px;
    }

    .brand-data h4 {
        font-size: 20px;
    }

    .brand-data p {
        font-size: 18px;
        width: auto;
    }

    .owl-carousel.branding-carousel .owl-nav button.owl-prev,
    .owl-carousel.branding-carousel .owl-nav button.owl-next {
        font-size: 31px;
    }

    .contact p {
        width: 100%;
        font-size: 15px;
    }
}

@media screen and (max-width: 400px) {
    .about .side.line h2 {
        font-size: 22px;
    }

    .about .title {
        font-size: 21px;
    }

    .about p {
        width: 100%;
        line-height: 38px;
    }

    .about ul {
        font-size: 22px;
    }

    .about ul li {
        margin: 14px 12px;
    }

    .intro .title.white {
        font-size: 34px;
    }
    img.floated {
        bottom: -38px;
    }
    .intro p {
        font-size: 16px;
    }

    img.floated {
        width: 152px;
    }

    .btn.primary-maron {
        margin-top: 30px;
        font-size: 16px;
    }

    .social-post {
        height: 56vh;
        width: 85vw;
    }

    .white-bg p {
        font-size: 14px;
        min-height: 150px;
    }

    .white-bg img {
        width: 65px;
        margin: 0 10px;
    }

    .contact p {
        font-size: 13px;
    }

    .services h4 {
        font-size: 13px;
    }
}


@media screen and (max-width: 300px) {}

@media screen and (max-width:270px) {}
