@font-face {
    font-family: 'The-Sans-reg';
    src: url(../font/The-Sans-Plain.otf);
}

@font-face {
    font-family: 'The-Sans-bold';
    src: url(../font/TheSans-Bold.otf);
}

:root {
    --background: #F0F0F0;
}

/*--------Home-page--------*/
body {
    font-family: 'The-Sans-reg';
    background-color: var(--background);
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: var(--background);
}

::-webkit-scrollbar-thumb {
    background-color: #707070;
    width: 7px;
    height: 7px;
    border-radius: 10px;
}



input,
a,
button,
select,
.form-control:focus {
    outline: none !important;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: unset;
}

section {
    overflow: hidden;
    padding: 4rem 0;
}

.title {
    color: #2B294E;
    width: fit-content;
    margin-bottom: 2rem;
    font-size: 54px;
}

.title.white {
    color: white;
    margin-bottom: 1rem;
}

#shadow-host-companion {
    padding: 0;
}

.page {
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    overflow: hidden;
}


/* Navigation Menu */
/* Desktop Navigation */
header {
    background-color: white;
    height: 100px;
    padding: 10px 0;
    z-index: 99;
}

.sticky-navbar {
    position: fixed !important;
    top: -8px !important;
    transform: translateY(8px);
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    -ms-transform: translateY(8px);
    -o-transform: translateY(8px);
    transition: transform 1s;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s;
    width: 100% !important;
    margin-top: 0;
    z-index: 99;
    box-shadow: 0 1px 10px #cececf24;
}

.logo {
    width: 130px;
    margin-left: 2rem;
}

.nav-menu {
    margin: 0;
    padding: 0;
}

.nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.nav-menu a {
    display: flex;
    position: relative;
    color: #2B294E;
    transition: 0.3s;
    font-size: 17px;
    padding: 6px 10px;
    font-family: 'The-Sans-bold';
    cursor: pointer;
}

.nav-menu a:hover,
.nav-menu .active>a,
.nav-menu li:hover>a {
    color: black;
    text-decoration: none;
    background-color: var(--light-blue);
    border-radius: 6px;
}

.gap-10 {
    gap: 10px;
}

.link {
    display: flex;
    align-items: center;
    font-family: 'ae_AlMothnna';
    gap: 4px;
}

.link.blue {
    color: var(--primary-blue);
}



/* Mobile Navigation */
.mobile-nav-toggle {
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
}

.mobile-nav-toggle i {
    color: var(--primary-blue);
}

.mobile-nav {
    padding: 100px 10px;
    position: fixed;
    height: 100%;
    width: 35%;
    /* right: 15px; */
    bottom: 0px;
    left: 0px;
    z-index: 999;
    overflow-y: auto;
    background: #ddd;
    transition: ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
    border-radius: 0 10px 10px 0;
}

.mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mobile-nav a {
    font-size: 20px;
    display: block;
    position: relative;
    color: var(--primary-blue);
    padding: 10px 20px;
    font-weight: 500;
    outline: none;
}

.mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
    padding: 6px 0;
    box-shadow: 0px 0px 22px rgb(127 137 161 / 20%);
    transition: ease all 0.3s;
    border-radius: 19px;
    width: 90%;
    background: white;
}

.mobile-nav-overly {
    position: fixed;
    overflow: hidden;
    display: none;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active .mobile-nav {
    opacity: 1;
    visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
    color: black;
}




/******** intro *******/
.intro {
    height: 100vh;
    background-color: #2B294E;
    display: flex;
    align-items: center;
    position: relative;
}

.intro .title.white {
    font-size: 68px;
}

.intro p {
    font-size: 22px;
    color: white;
}

.btn {
    padding: 5px 20px;
    color: white;
    border-radius: 0;
}

.btn.primary-maron {
    margin-top: 60px;
    background-color: #C22026;
    font-size: 22px;
    letter-spacing: 1.1px;
}

.intro-img img {
    position: absolute;
    height: 100vh;
    left: 0;
    top: 0px;
}

img.floated {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 218px;
}


/********* about **********/
.about {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.line {
    color: #C22026;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'The-Sans-Bold';
}

.half.line hr {
    height: 5px;
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: 1;
    width: 45px;
}

.about .side.line {
    color: #C22026;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-bottom: 2rem;
}

.about .side.line h2 {
    font-size: 54px;
}

.about .side hr {
    height: 5px;
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: 1;
    width: 40%;
}

.about .title {
    font-family: 'The-Sans-Bold';
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: auto;
}

.about .row {
    align-items: center;
}

.about p {
    font-size: 28px;
    margin-top: 10px;
    color: #2B294E;
    width: 63%;
    margin: auto;
    text-align: center;
    line-height: 45px;
}

.about ul {
    color: #C22026;
    font-size: 28px;
    display: flex;
    justify-content: center;
}

.about ul li {
    border-right: 7px solid #2B294E;
    padding-right: 12px;
    margin: 20px;
    font-family: 'The-Sans-bold';
}


/******* features ********/
.features {
    background-color: white;
}

.feature-card {
    background-color: white;
    border-top: 14px solid #F28765;
    border-left: 14px solid #F28765;
    padding: 22px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 29px 11px #00000026;
    width: 86%;
    gap: 10px;
}

.feature-card img {
    height: 126px;
}

.feature-card p {
    width: 80%;
    font-size: 22px;
    color: #2B294E;
    text-align: center;
    margin: auto;
}




/******* counts *****/
.counts {
    background-color: #F28765;
}

.count-card {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.count-card img {
    width: 58px;
    border-bottom: 3px solid white;
    padding-bottom: 10px;
    max-height: 45px;
    object-fit: contain;
}




/********** feedbacks **********/
.feedbacks {
    background-color: white;
}


/********* vision **********/
.white-bg {
    background-color: white;
    padding: 40px 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 250px;
    margin-bottom: 3rem;
    box-shadow: 0 8px 9px #0000001a;
}

.white-bg p {
    font-size: 22px;
    color: #2B294E;
    font-family: 'The-Sans-bold';
    WIDTH: 69%;
    line-height: 39px;
}

.vision img.label-img {
    margin-bottom: -17px;
    margin-right: 40px;
}

.vision .row.flex-row-reverse img.label-img {
    margin-left: 40px;
    z-index: 9;
}

.vision .row.flex-row-reverse .col-lg-7 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


/******** partners *********/
.partners {
    background-color: white;
}

.partners::before {
    background-image: url('../img/partners.png');
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    content: '';
    position: absolute;
    width: 100%;
    -webkit-width: 100%;
    height: 10rem;
    -webkit-height: 10rem;
    margin-top: -9rem;
}

.partners-warpper {
    border-top: 10px solid #F28765;
    margin-top: 30px;
   border-bottom: 10px solid #F28765;
    padding: 10px;
    cursor: pointer;
}

.owl-carousel.partners-carousel .owl-item img {
    display: block;
    max-width: 200px;
    width: fit-content;
    height: 70px;
    object-fit: contain;
    filter: grayscale(1);
    transition: 0.5s all;
}

.owl-carousel.partners-carousel .owl-item img:hover {
    filter: grayscale(0);
    transition: 0.5s all;
}


/********* Contact Us **********/
.contact {
    background-color: white;
padding: 4rem 21%;
}
.salmon {
    background-color: #F28765;
    text-align: center;
    font-family: 'The-Sans-Bold';
    color: white;
    width: 100%;
    padding: 24px 34px;
}

.salmon h1 {
    width: fit-content;
}

.contact-form {
    margin: 3rem auto 0;
}

.contact-form label {
    margin-bottom: 6px;
}

.contact-form label span {
    color: #D70505;
}

.contact-form .btn.primary-maron {
    margin-top: 0;
}

.form-control, .form-select {
    text-align: right;
    padding: 10px;
    border-radius: 0;
    font-size: 22px;
    border: none;
    background-color: #F0F0F0;
    margin-bottom: 12px;
    border: 1px solid #2B294E;
    color: #2B294E;
}
.form-select{
    color: #D30000;
}
input.form-control,
select.form-select {
    height: 60px;
}

.contact h3 {
    color: #2B294E;
    font-family: 'The-Sans-Bold';
    margin-bottom: 20px;
}

input[type="file"]{
    background-color: white;
    border: none;
}




/******** Join us **********/
.join{
    max-height: calc(100vh - 100px);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact p{
    color: #C22026;
    text-align: center;
    width: 90%;
    margin: 20px auto 0;
}



/********** cover *****/
.cover {
    padding-top: 0;
    position: relative;
    overflow: initial;
}

.cover img {}

.cover .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.simon {
    background-color: #F28765;
    color: #F0F0F0;
    width: 80%;
    padding: 30px 20% 30px 30px;
    font-family: 'The-Sans-Bold';
    z-index: 9;
    position: absolute;
    margin-top: -2rem;
}

.simon h2 {
    font-size: 45px;
    line-height: 55px;
    letter-spacing: 1.2px;
}

.simon h2 img {
    width: 42%;
}



/******** Services ********/
.services {
    background-color: white;
    padding-top: 10rem;
}

.services h4 {
    color: #2B294E;
    text-align: center;
    margin: 20px 0 3rem;
}

.service-card {}

.services .col-lg-3.col-md-4.col-sm-5 {
    padding: 0;
}

.services .col-lg-3.col-md-4.col-sm-5:nth-child(1) .service-card {
    border-right: 3px #C22026 solid;
    border-bottom: 3px #C22026 solid;
}

.services .col-lg-3.col-md-4.col-sm-5:nth-child(2) .service-card {
    border-right: 3px #C22026 solid;
    border-top: 3px #C22026 solid;
    border-left: 3px #C22026 solid;
}

.services .col-lg-3.col-md-4.col-sm-5:nth-child(3) .service-card {
    border-bottom: 3px #C22026 solid;
    border-left: 3px #C22026 solid;
}

.service-card img {
    width: 155px;
    height: 120px;
    object-fit: contain;
}

.service-RL {
    background-color: #F0F0F0;
    margin: 0 10px 10px 10px;
    padding: 30px 11px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    min-height: 540px;
}

.service-CN {
    background-color: white;
    margin: 0;
    padding: 30px 11px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    min-height: 550px;
}

.service-card h3 {
    color: #2B294E;
    text-align: center;
    font-family: 'The-Sans-Bold';
}

.service-card p {
    font-size: 22px;
    text-align: center;
    line-height: 39px;
    color: #2B294E;
}



/******** footer *********/
.footer-block {
    height: 100%;
}

.footer-block img {
    width: 200px;
    margin: 0 0 20px;
}

.footer-block p {
    font-size: 18px;
    line-height: 31px;
    width: 96%;
    margin-bottom: 14px;
}

.footer-block .list-unstyled {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.footer-block .list-unstyled li {
    margin: 0.6rem 0;
}

.footer-block .list-unstyled a {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-links .list-unstyled {
    flex-direction: row;
    display: flex;
}

.social-links .list-unstyled a i {
    color: white;
}

.lower-footer {
    padding: 6px 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;

}

.lower-footer p {
    margin-bottom: 0;
    font-size: 12px;
}

footer {
    background-image: url('../img/footer-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
    padding-top: 2rem;
}

img.icon {
    width: 28px;
    margin: 0;
}

.copyright {
    display: flex;
    gap: 7px;
    font-size: 19px;
    height: fit-content;
}

.social-links .list-unstyled li {
    margin: 4px;
}

.social-links .list-unstyled a i {
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    padding: 6px;
}













/* media-style */
@media screen and (min-width:1441px) {
    .form-control {
        font-size: 28px;
    }

    label {
        font-size: 28px;
    }

    .file-upload-warpper {
        height: 74px;
    }

    .file-upload-warpper .drag-text p {
        font-size: 28px;
    }

    .file-upload-warpper .drag-text img {
        width: 21px;
    }

    .owl-carousel.partners-carousel .owl-item img {
        max-width: 300px;
        height: 90px;
    }

}

@media screen and (max-width:1440px) {
    .simon h2 img {
        width: 36%;
    }
}

@media screen and (min-width:1200px) {
    .intro-img img {
        width: 704px;
    }
}

@media screen and (max-width:1200px) {
    .simon {
        width: 90%;
        padding: 30px 5% 30px 30px;
    }

    .intro {
        height: fit-content;
    }

    .intro-img img {
        position: relative;
        height: 72vh;
        left: 0;
        top: 0px;
        width: 600px;
    }

    .intro .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    .about .title {
        font-size: 45px;
    }

    .about .side.line h2 {
        font-size: 49px;
    }

    .about p {
        width: 86%;
    }

    .feature-card {
        width: 100%;
        margin-bottom: 2rem;
    }

    .feature-card p {
        width: 88%;
        font-size: 20px;
    }

    .feature-card img {
        height: 115px;
    }
}

@media screen and (max-width: 1025px) {}

@media screen and (max-width: 993px) {
    .service-card p {
        font-size: 18px;
        line-height: 33px;
    }
    .contact{
        padding: 4rem 10%;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        padding: 3rem 0;
    }

    .intro .title.white {
        font-size: 59px;
    }

    .intro-img img {
        max-width: 100%;
    }

    img.floated {
        width: 270px;
    }

    section {
        padding: 2rem 0;
    }

    .about p {
        font-size: 18px;
    }

    .partners {
        margin-top: 5rem;
    }

    .partners::before {
        background-size: 163%;
    }

    .salmon h1 {
        font-size: 25px;
    }

    .partners::before {
        margin-top: -7rem;
    }

    .white-bg p {
        font-size: 18px;
        WIDTH: 69%;
        line-height: 34px;
    }

    .vision img.label-img {
        margin-bottom: -14px;
        margin-right: 37px;
        width: 160px;
    }

    .vision .row.flex-row-reverse img.label-img {
        margin-left: 36px;
    }

    .white-bg {
        padding: 30px 20px;
        min-height: fit-content;
        margin-bottom: 2rem;
    }

    .simon h2 {
        font-size: 35px;
        line-height: 50px;
    }
    .owl-carousel.partners-carousel .owl-item img {
        max-width: 188px;
        height: 38px;
    }
    .contact {
        padding: 2rem 3%;
    }
    input.form-control, select.form-select {
        height: 50px;
        font-size: 18px;
    }

}

@media screen and (max-width: 600px) {}


@media screen and (max-width: 576px) {
    .intro {
        padding: 3rem 1rem;
    }

    .about .title {
        font-size: 30px;
    }

    .about .side.line h2 {
        font-size: 35px;
    }

    .feature-card {
        width: 90%;
        margin: auto;
        margin-bottom: 2rem;
    }

    .counts {
        padding: 3rem 0;
    }

    .mobile-nav {
        width: 45%;
    }

    .navbar-toggler {
        bottom: unset;
        left: 8%;
    }

    footer {
        padding: 2rem 2rem 0;
    }

    .about ul {
        color: #C22026;
        font-size: 24px;
    }

    .about ul li {
        border-right: 5px solid #2B294E;
        padding-right: 7px;
        margin: 17px;
    }

    .intro-img img {
        height: fit-content;
    }

    .partners {
        margin-top: 2rem;
    }

    .partners::before {
        background-size: 194%;
    }

    .white-bg p {
        font-size: 16px;
        WIDTH: 67%;
        line-height: 31px;
    }

    .simon h2 {
        font-size: 25px;
        line-height: 40px;
    }

    .service-RL,
    .service-CN {
        min-height: fit-content;
        padding: 40px 10px;
    }

    .services .col-lg-3.col-md-4.col-sm-5:nth-child(2) .service-card {
        border-right: none;
        border-top: none;
        border-bottom: 3px #C22026 solid;
        border-left: 3px #C22026 solid;
    }

    .services .col-lg-3.col-md-4.col-sm-5:nth-child(3) .service-card {
        border-right: 3px #C22026 solid;
        border-left: none;
    }
    .owl-carousel.partners-carousel .owl-item img {
        max-width: 168px;
        height: 37px;
    }
}

@media screen and (max-width: 480px) {
    .mobile-nav {
        width: 74%;
    }

    .intro .title.white {
        font-size: 50px;
    }

    .about .title {
        font-size: 27px;
    }

    .about .side.line h2 {
        font-size: 30px;
    }

    .about .side hr {
        width: 47%;
    }

    .about p {
        width: 96%;
    }

    .vision img.label-img {
        margin-right: 27px;
    }

    .vision .row.flex-row-reverse img.label-img {
        margin-left: 27px;
    }
    .simon h2 {
        font-size: 20px;
        line-height: 35px;
    }
    .services {
        padding-top: 8rem;
    }
    .service-card img {
        width: 140px;
        height: 110px;
    }
    .cover img.img-fluid{
        height: 70vh;
        object-fit: cover;
        object-position: left;
    }
}

@media screen and (max-width: 400px) {
    .about .side.line h2 {
        font-size: 22px;
    }

    .about .title {
        font-size: 21px;
    }

    .about p {
        width: 100%;
        line-height: 38px;
    }

    .about ul {
        font-size: 22px;
    }

    .about ul li {
        margin: 14px 12px;
    }

    .intro .title.white {
        font-size: 38px;
    }

    .intro p {
        font-size: 18px;
    }

    img.floated {
        width: 152px;
    }

    .btn.primary-maron {
        margin-top: 30px;
        font-size: 19px;
    }
}


@media screen and (max-width: 300px) {}

@media screen and (max-width:270px) {}